/*
Client APP CSS | HOLDING: Reactified Web App
Douglas MacKrell, Briahana Maugé, Joseph P. Pasaoa, Kathy Puma
*/


/* FONT INITS 
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Lato', sans-serif;
*/
@font-face {
  font-family: 'AlegreyaSans-Black';
  src: url('./assets/fonts/Alegreya_Sans/AlegreyaSans-Black.ttf') format('truetype');
  font-weight: black;
  font-style: normal;
}
@font-face {
  font-family: 'AlegreyaSans-BlackItalic';
  src: url('./assets/fonts/Alegreya_Sans/AlegreyaSans-BlackItalic.ttf') format('truetype');
  font-weight: black;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 


/* COLOR SCHEME
  hintOfRed: #FAF8F9;  
  locust: #A3AD8E;
  jetStream: #B8D1C9;
  mountainMist: #928C96;
  juniper: #6C8F92;
*/


/* MAIN STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div#root, div#base-grid {
  height: 100%;
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: #000;
}

div#base-grid {
  display: grid;
  grid-template-columns: 351px auto;
  grid-template-rows: 85px 85px auto;
  grid-gap: 0px;
  
  /* background: rgb(250,248,249);
  background: linear-gradient(135deg, rgba(250,248,249,1) 0%, rgba(232,237,236,1) 76%, rgba(184,209,201,1) 100%); */
}

div#leftBase {
  grid-row: span 2;

  display: grid;
  grid-template-columns: 136px auto;
  grid-template-rows: 85px auto;
  grid-gap: 0px;
  
  position: relative;
  width: auto;
  height: auto;
  background-color: #928C96;
  border-radius: 0px 7px 0px 0px;
  z-index: 100;
}
